{% extends "base.html" %}
{% block title %}Dashboard{% endblock %}

{% block content %}

<h1 class="m-3 text-fade">What would you like to do today?</h1>
<div class="mt-4 d-flex flex-column justify-content-center align-items-center container">
    <div class="card col-sm-4">
        <h5 class="card-header text-center">Accounts</h5>
        <ul class="list-group list-group-flush">
            {% for account_number in accounts: %}
            <a href="/details?account={{ account_number }}" class=" list-group-item list-group-item-action">
                Account No. <b>{{ account_number }}</b>
            </a>
            {% endfor %}
    </div>
</div>
</div>
{% endblock %}